doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1(style="margin-left: 30vw;") Add Pal
        .form-wrapper 
            form(action="/update-cobj" method="post")
                label(for="name") Name:
                input(type="text", name="name" required)
                br
                label(for="no") No:
                input(type="text", name="no" required)
                br
                label(for="element") Element:
                input(type="text", name="element" required)
                br
                input(type="submit" value="Submit") 